article.post-content .h1,
article.post-content .h2,
article.post-content .h3,
article.post-content .h4,
article.post-content .h5,
article.post-content .h6,
article.post-content h1,
article.post-content h2,
article.post-content h3,
article.post-content h4,
article.post-content h5,
article.post-content h6 {
  margin-top: 1.75rem;
}

.container {
  max-width: 960px !important;
}

a.navbar-brand {
  color: #2B3A67 !important;
}

blockquote {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid #eceeef;
}

.post-content {
  font-size: 1.13rem;
}
.footer {
  font-size: 0.9rem;
}

.footer a {
  color: inherit;
}

.index_card_link {
  color: #e0e0e0;
}

.index_card_link, .index_card_link:focus, .index_card_link:active, .index_card_link:hover {
  text-decoration: none;
}

.index_card_link .card_guides {
  border: none;
  color: #2B3A67;
}

.index_card_link .card-block::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  border-color: #2B3A67;
  border-style: solid;
  border-left-width: 1px;
}

.index_card_link .card_guides:hover .card-block::before {
  border-left-width: 2px;
}

.hexlet_guides_source {
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}

.hexlet_guides_examples {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.075);
  font-size: 0.9rem;
}

.hexlet_guides_post_header {
  border-bottom: 1px dashed #2B3A67;
}

.toc {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  display: inline-block;
  font-size: 90%;
}

.toc li {
  margin-bottom: 0.2em;
}

.word-wrap {
  word-wrap: break-word;
}

.post-content img {
  max-width: 100%;
  height: auto;
  padding-left: .5rem;
  padding-right: .5rem;
}

@media (min-width: 768px) {
  .post-content img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .post-content img {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.post-content table {
  display: block;
  width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}

.post-content th,
.post-content td {
  padding: 0.4rem 0.75rem;
  border: 1px solid #dfe2e5;
}

.post-content th {
  font-weight: 600;
  text-align: center;
}

.post-content table tr {
  background-color: #fff;
  border-top: 1px solid #a2a9b1;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f8f9fa;
}
