Gemfile.lock
*.gem
_site/
_deleted_posts/
.DS_Store
.sass-cache
hexlet_guides.sublime-project
hexlet_guides.sublime-workspace
vendor
.jekyll-cache/
.idea
_sass
node_modules
.env
.jekyll-metadata
next-app/node_modules
next-app/.next
