---
title: Guides and articles for developers
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %}
<div class="rounded hero p-4 p-lg-5 mb-5">
  <div class="row mx-lg-5">
    <div class="col-md-8">
      <h1 class="display-5 fw-bold">{% t 'hero.header' %}</h1>
      <p class="lead">{% t 'hero.description' %}</p>
      <!-- <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">About me</a> -->
    </div>
    <div class="col-md-4 d-none d-md-block">
      <img class="intro" height="500" src="{{ "/assets/images/intro.svg" | relative_url }}">
    </div>
  </div>
</div>
{% endif %}

<div class="row mx-lg-5">
  {% assign published_posts = site.posts | where: 'hidden', empty %}
  {% for post in published_posts %}
  <div class="col-md-6 mb-5">
    {% include postbox.html %}
  </div>
  {% endfor %}
</div>
<!-- Pagination -->
{% comment %} <div class="bottompagination"> {% endcomment %}
{% comment %}   <span class="navigation" role="navigation"> {% endcomment %}
{% comment %}       {% include pagination.html %} {% endcomment %}
{% comment %}   </span> {% endcomment %}
{% comment %} </div> {% endcomment %}
