<amp-analytics type="gtag" data-credentials="include">
<script type="application/json">
{
  "vars" : {
    "gtag_id": "UA-1360700-62",
    "config" : {
      "UA-1360700-62": { "groups": "default" }
    }
  }
}
</script>
</amp-analytics>

<amp-analytics type="metrika">
<script type="application/json">
{
    "vars": {
      "counterId": "65474386"
            },
   "triggers": {
        "notBounce": {
            "on": "timer",
            "timerSpec": {
                "immediate": false,
                "interval": 15,
                "maxTimerLength": 14
            },
            "request": "notBounce"
        }
    }
}
</script>
</amp-analytics>
