<footer class="footer hexlet-footer py-5 mt-5 text-muted">
  <div class="container">
    <div class="row mt-1">
      <div class="col-12 text-center">
        <p><a href="https://ru.hexlet.io/?utm_source=guides&utm_medium=referral&utm_campaign=general"><img title="hexlet logo" alt="hexlet logo" src="/images/hexlet_logo.png" width="32" height="32" style="opacity: 0.5;"></a></p>
        <a href="https://ru.hexlet.io/?utm_source=guides&utm_medium=referral&utm_campaign=general">Hexlet</a> — практические курсы по программированию.<br>
        Видео-курсы, настоящая практика, стажировка и сертификация.
      </div>
    </div>
  </div>
</footer>
