<nav class="navbar navbar-light navbar-toggleable-md mb-5">
  <div class="container">
  <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarResponsive">
    <a aria-hidden="true" class="navbar-brand mr-4" href="/">
      Hexlet <strong>Guides</strong>
    </a>

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="https://ru.hexlet.io/courses"><span class="mr-1 fa fa-university"></span>Курсы</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://ru.hexlet.io/professions"><span class="mr-1 fa fa-road"></span>Профессии</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://ru.hexlet.io/projects"><span class="mr-1 fa fa-code-fork"></span>Проекты</a>
      </li>

    </ul>

  </div>
  </div>
</nav>