<div class="container p-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-white mb-5">
    <a class="navbar-brand" href="/">
      Hexlet <strong>Guides</strong>
    </a>

    <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-2">
          <a class="nav-link" target="_blank" href="https://ru.code-basics.com/"><span class="mr-1 fa fa-code"></span>Code-Basics</a>
        </li>

        <li class="nav-item mr-2">
          <a class="nav-link" target="_blank" href="https://ru.hexlet.io/professions"><span class="mr-1 fa fa-university"></span>Профессии</a>
        </li>

        <li class="nav-item mr-2">
          <a class="nav-link" target="_blank" href="https://ru.hexlet.io/courses"><span class="mr-1 fa fa-graduation-cap"></span>Курсы</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://ru.hexlet.io/projects"><span class="mr-1 fa fa-code-fork"></span>Проекты</a>
        </li>
      </ul>

    </div>
  </nav>
</div>
