{% if page.category == "Translations" %}
  / <a href="/translations">Переводы</a>
{% elsif page.category == "Lectures" %}
  / <a href="/lectures">Лекции</a>
{% elsif page.category == "Articles" %}
  / <a href="/articles">Статьи</a>
{% elsif page.category == "English" %}
  / <a href="/english">Английский язык</a>
{% elsif page.category == "Video" %}
  / Видео
{% elsif page.category == "Linker" %}
  / <a href="/linker">Ссылкомат</a>
{% elsif page.category == "Notes" %}
  / Заметки
  {% elsif page.category == "Books" %}
  / Книги
{% endif %}
