<!-- begin post -->
{% assign author = site.authors[post.author] %}

{% capture post_url %}
    {% if site.lang == "ru" %}
        {{ site.baseurl }}{{ post.url }}
    {% else %}
        {{ post.url }}
    {% endif %}
{% endcapture %}

<div class="card">
    <!-- <a href="{{ post_url }}">
        {% if post.image %}
            <img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
        {% endif %}
    </a> -->
    <div class="card-block">
        <div class="card-title h4 serif-font">
            <a href="{{ post_url }}">
                {% if post.header %}
                    {{ post.header }}
                {% else %}
                    {{ post.title }}
                {% endif %}
            </a>
        </div>
        <p class="card-text text-muted">
            {% if post.summary %}
                {{ post.summary | strip_html | truncatewords:40 }}
            {% else %}
                {{ post.description | strip_html | truncatewords:40 }}
            {% endif %}
        </p>
    </div>
</div>
<!-- end post -->
