<div class="social-icons">
  <div class="right">
    {% if site.bitbucket_username %}
      <a class="fa fa-bitbucket" href="https://bitbucket.org/{{ site.bitbucket_username }}"></a>
    {% endif %}
    {% if site.stackoverflow_id %}
      <a class="fa fa-stack-overflow" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"></a>
    {% endif %}
    {% if site.twitter_username %}
      <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
    {% endif %}
    {% if site.facebook_username %}
      <a class="fa fa-facebook" href="https://facebook.com/{{ site.facebook_username }}"></a>
    {% endif %}
    {% if site.google_plus_id %}
      <a class="fa fa-google-plus" href="https://plus.google.com/{{ site.google_plus_id }}/posts"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
    {% endif %}
    {% if site.angellist_username %}
      <a class="fa fa-angellist" href="https://angel.co/{{ site.angellist_username }}"></a>
    {% endif %}
    {% if site.medium_id %}
      <a class="fa fa-medium" href="https://medium.com/{{ site.medium_id }}"></a>
    {% endif %}
    {% if site.github_username %}
      <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
    {% endif %}
    <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
  </div>
</div>
<div class="clearfix"></div>
