/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

/* TODO: Временное исправление отступов внутри подсветки */
.highlight {
  padding: 10px;
  border: 1px solid #dee2e6;
  margin-bottom: 1rem;
}

pre {
  margin-bottom: 0px;
}
