<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ site.favicon | relative_url }}">

    {% if page.path contains '_posts' %}
      <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}

    {% feed_meta %}
    {% seo %}

    {% comment %} {% feed_meta %} {% endcomment %}
    {% include counters.html %}

    <link href="{{ "/assets/css/theme.css" | relative_url }}" rel="stylesheet">

    <!-- custom CSS - Remove this if you don't use it or choose to customize the stylesheet with sass-->
    <link href="{{ "/assets/css/custom.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "/assets/css/highlight.css" | relative_url }}" rel="stylesheet">
    <!-- custom CSS end-->

  </head>

  {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

  <body class="{{ layout }}">

    {% include noscript_counters.html %}
    <!-- Menu Navigation
      ================================================== -->

      <div class="container mb-4">
        <div class="d-flex flex-wrap justify-content-center py-3">
          <a class="navbar-brand me-auto" href="/"><img width="30" alt="Code Basics logo" src="{{  site.logo | relative_url }}"></a>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="{{ site.github.repository_url }}">Исходный код</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://ru.hexlet.io/programs?utm_source=hexlet-guides&utm_medium=referral">Программы обучения</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Container
        ================================================== -->
        <main class="container">
          {{ content }}
        </main>

        <!-- Footer
          ================================================== -->
          <footer class="footer container text-center">

            <ul class="p-0 mb-1 small">
              {% for item in site.data.menus.footermenu %}
              <li>
                <a href="{% unless item.external %}{{site.baseurl}}/{% endunless %}{{item.url}}" alt="{{item.title}}"{% if item.external %} target="_blank"{% endif %}>{{item.title}}</a>
              </li>
              {% endfor %}
            </ul>
          </footer>

          <!-- JavaScript
            ================================================== -->
            <script src="{{ "/assets/js/theme.js" | relative_url }}"></script>
  </body>
</html>
