---
layout: default
---

<!-- Post Featured Image -->
{% if page.image %}
<div class="text-center mx-auto mb-5">
  <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
{% endif %}
<!-- End Featured Image -->

<div class="col-lg-8 mx-auto">

  <div class="mainheading">
  {% if page.title == 'about.title' %}
    <h1 class="posttitle">{% t 'about.text' %}</h1>
  {% endif %}
  </div>

  <div class="article-post">
    {{ content | toc }}
  </div>

  {% if page.comments == true %}
  <div id="comments">
    {% include_cached disqus.html %}
  </div>
  {% endif %}

</div>
