---
layout: default
---

<div class="mt-3 mb-5">
  <h1 class="hexlet_guides_post_header pb-3 mb-3">{{ page.title }}</h1>
  <h2 class="post-content">{{ page.subtitle }}</h2>
</div>

<article class="post-content word-wrap">
  <section class="toc px-3 pt-3 pb-0 mb-4">
    <h6 class="m-0 mb-2">Содержание</h6>
    {% include toc.html html=content %}
  </section>

  {{ content }}
</article>

{% if site.show_sharing_icons %}
  {% include share_buttons.html %}
{% endif %}

{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
  this.page.url = `{{site.url}}{{page.url}}`;
  this.page.identifier = `{{ page.id }}`;
  this.page.title = `{{ page.title }}`;
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = '//{{site.disqus_shortname}}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
