---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

<div class="row">
  <div class="col-sm-8 mx-auto">
    <!-- Post Featured Image -->
    {% if page.image_closed %}<img class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">{% endif %}
    <!-- End Featured Image -->
    <div class="mainheading">             

      <!-- Post Categories -->
      <div class="after-post-tags">
        <ul class="tags">
          {% assign sortedCategories = page.categories | sort %}
          {% for category in sortedCategories %}
            <li>
              <a href="{{ site.baseurl }}/categories#{{ category | slugify }}">{{ category }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- End Categories -->

      <!-- Post Title -->
      <h1 class="posttitle">{{ page.title }}</h1> 

    </div>



    <!-- Post Content -->
    <div class="article-post serif-font">
      {{content}}
      <div class="clearfix"></div>
    </div>

    {% if page.author %}
    <div class="lead text-end my-5">
      <i>{{ page.author }}</i>
    </div>
    {% endif %}

    <!-- Prev/Next -->
    <div class="row PageNavigation mt-4 prevnextlinks d-flex justify-content-between">
      {% if page.previous.url %}
        <div class="col-md-6 rightborder pl-0">
          <a class="thepostlink" href="{{page.previous.url | absolute_url}}">&laquo; {{page.previous.title}}</a>
        </div>
      {% endif %}
      {% if page.next.url %}
        <div class="col-md-6 text-right pr-0">
          <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>
        </div>
      {% endif %}
    </div>
    <!-- End Prev/Next -->


    <!-- Begin Comments
      ================================================== -->
      <section>
        <div id="comments">
          {% include disqus.html %}
        </div>
      </section>
  </div>
  <!-- End Post -->
  <!-- Sidebar -->
</div>

<!-- End Article
  ================================================== -->
